.signin-div{ 
    margin: auto;
  width: 30%;
 
  padding: 10px;
  padding-top: 3%;
}

.form-signup{
    margin: auto;
    width: 30%;
   
    padding: 10px;
    padding-top: 3%;

}

.form-control{
   margin-bottom:2% ;
}

.warninglabel{ 
  color: red;
  font-size: smaller;
}