.displaycontainer{
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 3%;
    
}

.carcontainer{
    
    display:block;
    height: 400px;
    padding-right: 2%;
    padding-left: 2%;
    padding-bottom: 3%;
    margin-bottom: 3%;
    
    

}
.carimage{
    
    border-radius: 8px;
    margin-bottom: 2%;

    width: 100%;
    height: 185px;
}

.countdownbox{
    background-color: #61329b;
    border-radius: 8px;
    color: white;
    padding-top: 1.5%;
    height: 40px;
    font-size: large;
    position: absolute;
    bottom: 0px;
    width: 85%;
    
}

.descriptiontext{
    text-align: left;
    font-size: 15px;
    padding-top: 2%;
}

.dollarsign{ 
    margin-left: 22%;
}
.locationtext{ 
    font-size: smaller;
    text-align: left;
    position: absolute;
    bottom: 30px;
    left: 35px;
}

.viewmorebtn{ 
    position: absolute;
    bottom: 45px;
    right: 35px;
   
    
}
.detailsbtn{ 
    background-color:midnightblue;
}