.navlogo{
    width: 100%;
    padding-left: 5%;

}

.navbar-brand{ 
    width: 11%;
    
}
.sign-in-button{
   padding-left: 30%;
   padding-right: 2%;
   
   
}

.signinbtn{
    color: white;
    border-color: #371F54;
    background-color: #371F54;
}

.searchbtn{ 
    border-color:#371F54 ;
}

.navbartop{ 
    border-bottom: thin;
    border-bottom-style: solid;
    border-color: #371F54;
    
    
   
   padding-right: 3%;
   padding-top: 0;
   padding-bottom: 0;
}
.wlcome{ 
    margin-left: 25%;
    font-size: large;
    width: 10%;
}
.searchbarinput{
    margin-top: 2%; 
}

.signouticon{
    padding-left: 10%;
}